<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.workload.WorkloadFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getRpTypes" useCache="false"
            resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_workload_api.get_RPType())
    </select>

    <select id="getWeeks" resultType="ru.alfabank.dmpr.model.Week">
        select
        week_id as id,
        week_year as year,
        week_num as weekNum,
        week_start_date as startDate,
        week_end_date as endDate
        from table(pkg_workload_api.get_weeks)
    </select>


    <select id="getDuodrReg" useCache="true"
            resultType="ru.alfabank.dmpr.model.workload.DuodrReg">
        <![CDATA[


   select reg_id as id,reg_name as name
        from table(pkg_workload_api.get_duodr_reg(

        ))

        ]]>
    </select>
</mapper>