<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.workload.WorkloadMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>


    <select id="getDivisionStat" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DivisionStat">
        <![CDATA[


        select
            WLUNITTK as id,
            WLPARENTUNITTK as parentId,
            WLUNITNAME as unitName,
            BPDIVISIONGROUP_DK as divisionGroupId,
            BPORGREGION_DK as regionId,
            decode(DUODR_FLAG, 'N', 0, 1) as isDuodr,
            WorkloadRate,
            StaffCountFact,
            StaffCountDeltaCnt,
            VacancyCnt,
            DecretVacancyCnt,
            HFCriterionCnt,
            HFCriterionW4Cnt,
            HFCriterionW8Cnt,
            NonSLAStaffCnt,
            RelocationRate,
            SLAFactValueDoubleCnt as slaFactValueDoubleCnt,
            Lvl
        from table(pkg_workload_api.get_bpdivision_stat(
            p_DateTo => #{endDate},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId},
            p_DuodrRegDK  => #{duodrReg},
            p_InnerEndProductId  => #{innerEndProductId}
        ))


        ]]>
    </select>

    <select id="getWLDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.WLDynamicItem">
        <![CDATA[
        select
            calcdate,
            wlunittk as unitId,
            workloadrate,
            StaffCountCalc,
            staffcountfact,
            StaffCountFact2,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_WL_dynamics(
            p_DateTo => #{endDate},
            p_WeekCnt => #{weekCount},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId},
            p_DuodrRegDK  => #{duodrReg}
        ))


        ]]>
    </select>

    <select id="getESUDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.ESUDynamicItem">
        <![CDATA[
        select
            calcDate,
            wlUnitTk as unitId,
            wlParentUnitTk as parentUnitId,
            wlUnitName as unitName,
            bpdivisiongroup_dk as divisionGroupId,
            bpOrgRegion_dk as regionId,
            bpiep_rate as iepRate,
            bpiep_cnt as iepCount,
            staffcountCalc,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_ESU_dynamics(
            p_DateTo => #{endDate},
            p_WeekCnt => #{weekCount},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId},
            p_InnerEndProductId  => #{innerEndProductId},
            p_DuodrRegDK  => #{duodrReg}
        ))


        ]]>
    </select>


    <select id="getStaffDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DistributionInfo">
        <![CDATA[
        select
            calcdate,
            wlunittk as id,
            wlunitname as unitName,
            staffCountFact,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_StaffCnt_dynamics(
            p_DateTo  => #{endDate},
            p_Slice   => #{sliceCode},
            p_WeekCnt => #{weekCount},
            p_BPDivisionGroupDK => #{divisionGroupId},
            p_BPOrgRegionDK => #{regionId},
            p_RPTypeID => #{rpTypeId},
            p_DuodrRegDK  => #{duodrReg}
        ))


        ]]>
    </select>

    <select id="getTopNTable" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DivisionStat">
        <![CDATA[
      select
          wlunittk as id,
          wlunitname as unitname,
          bporgregion_dk as regionId,
          bporgregion_name as regionName,
          staffcountcalc as StaffCountDeltaCnt
       from table(pkg_workload_api.get_ESU_OB_topN_week_delta(
          p_DateTo => #{endDate},
          p_TopSide => #{topSide}
       ))


        ]]>
    </select>

    <select id="getBpiepnormValue" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.BpiepnormValue">
        <![CDATA[
select
 BpinnerendProductCcode,
 BpinnerendProductName,
 BporgRegionCcode,
 BporgRegionName,
 BpDivisionGroupCcode,
 BpDivisionGroupName,
 NormativeMinutes,
 EffectifFrom ,
 EffectifTo
       from table(pkg_workload_api.get_BpiepnormValue())
 ]]>
    </select>

    <select id="getBpworkWeek" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.BpworkWeekReport">
        <![CDATA[
select
 Ccode,
 Name,
 NumberOfWeek,
 YearWeek ,
 ValueDay,
 WorkminCnt
       from table(pkg_workload_api.get_BpworkWeek())

        ]]>
    </select>


    <select id="getConvertCount" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.ConvertCountReport">
        <![CDATA[
select
ValueDay,
BpDivisionGroupCcode,
BpinnerendProductName,
BpinnerendProductCcode,
PortfolioFlag,
BporgRegionCcode,
round(NormativeMinutes,4) NormativeMinutes ,
round(TotalbpiepquantityCnt,4) TotalbpiepquantityCnt ,
round(TotallaborvalueCnt,4) TotallaborvalueCnt  ,
round(Worktime4staffunitCnt,4) Worktime4staffunitCnt  ,
round(EstimatedstaffunitCnt,4) EstimatedstaffunitCnt
       from table(pkg_workload_api.get_ConvertCount())
        ]]>
    </select>

    <select id="getWorkload" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.WorkloadReport">
        <![CDATA[
 select
 ValueDay ,
 BpdivisiongroupNameLvl1,
 BpdivisiongroupNameLvl2 ,
 BpdivisiongroupNameLvl3 ,
 BpDivisionGroupCcode,
 BporgRegionCcodeLvl2 ,
 BporgRegionCcodeLvl3 ,
 TotalfactvalueCnt,
 SlafactvalueCnt,
 SlafactvaluedoubleCnt,
 SlafactvacancyCnt,
 SlafactvacancytempCnt,
 NoslafactvalueCnt,
 NoslafactvaluedoubleCnt,
 NoslafactvacancyCnt,
 NoslafactvacancytempCnt,
 EstimatedstaffunitW8Cnt,
 Quartile1W8Cnt,
 Quartile3W8Cnt,
 LowlimitW8Cnt,
 HighlimitW8Cnt,
 CriteriaW8Cnt,
 Quartile1W4Cnt,
 Quartile3W4Cnt,
 LowlimitW4Cnt,
 HighlimitW4Cnt,
 CriteriaW4Cnt,
 TotalcriteriaCnt,
 WorkloadFactor
  from table(pkg_workload_api.get_Workload())


        ]]>
    </select>

</mapper>