<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.cr.ClientTimeMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getKpiData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.cr.ClientTime.ClientTimeOptions"
            resultType="ru.alfabank.dmpr.model.cr.ClientTime.KpiDataItem">
        <![CDATA[
        SELECT
            unitcode,
            unitname,
            process_id as ProcessId,
            timeunitdd as CalcDate,
            sortOrder,
            totalDuration,
            bpCount,
            InKPIBpCount,
            KpiNorm as quotaInDays,
            pcKPINorm as quotaPercent
        FROM TABLE (pkg_bpd_api.get_kpi_data(
            p_DateFrom => #{startDate},
            p_DateTill   => #{endDate},
            p_KPIMetricID => #{kpiId},
            p_TimeUnitID => #{timeUnitId},
            p_DimensionId => #{systemUnitId},
            p_BLTypeIDs  => #{blTypeIds},
            p_BLIDs      => #{blIds},
            p_DopOfficeIDs => #{dopOfficeIds},
            p_DepartIDs  => #{departIds},
            p_CreditDepartIDs => #{creditDepartIds},
            p_CommitteeIDs => #{committeeIds},
            p_StageIDs => #{stageIds},
            p_BPKindIDs => #{bpKindIds},
            p_FGIDs => #{funcGroupIds},
            p_ClientLevelID => null
        ))
        ]]>
    </select>
</mapper>