<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.leaderBoard.LeaderBoardMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getKPIs" resultType="ru.alfabank.dmpr.model.BaseEntityWithCode">
      <![CDATA[
        select
          id,
          name,
          ccode as code
        from table(pkg_leaderboard_api.get_KPIs)
        ]]>
    </select>

    <select id="getKpiData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.leaderBoard.LeaderBoardOptions"
            resultType="ru.alfabank.dmpr.model.leaderBoard.KpiDataItem">
        <![CDATA[
        select
          VALUE_DAY as calcDate,                     -- Отчетная дата
          KPI_UK as kpiId,                           -- Показатель (UK)
          KPI_CCODE as kpiCode,                      -- Показатель (CCODE)
          KPI_NAME as kpiName,                       -- Показатель (Наименование)
          DivisionGroup_UK as divisionGroupId,       -- Группы подразделений (UK)
          DivisionGroup_CCODE as divisionGroupCode,  -- Группы подразделений (CCODE)
          DivisionGroup_NAME as divisionGroupName,   -- Группы подразделений (Наименование)
          PREV_FACTVALUE as prevValue,               -- Предыдущее факт. значение показателя (-12 мес. от текущей даты)
          FACTVALUE as currentValue,                 -- Фактическое значение показателя
          PLANVALUE_HIHBOUND_CNT as planValue        -- Плановое значение показателя
        from table(PKG_LEADERBOARD_API.get_kpi1_data (
          p_DateFrom        => #{startDate},
          p_DateTill        => #{endDate},
          p_KPIIDs           => #{kpiIds},
          p_DivisionGroupIDs => #{divisionGroupId}
        ))
        ]]>
    </select>
</mapper>