<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.zp.ZPOpeningSpeedMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getDynamic" useCache="false"
            resultType="ru.alfabank.dmpr.model.zp.ZPKPIDataItem"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
              UnitCode,
              UnitName,
              TimeUnitDD as CalcDate,
              SortOrder,
              InKPICount,
              TotalCount,
              round(TotalDuration/TotalCount, 1) as AvgDuration,
              TotalDuration,
              TotalCWCount,
              KPINorm,
              InKPIRatioAvg,
              LoadedFlCount,
              RetardedCount,
              FullOkCount
            from table
            (
              pkg_zp_api.get_kpi_data(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_TimeUnitID => #{timeUnitId}
            ))
            order by SortOrder
        ]]>
    </select>

    <select id="getRating"
            resultType="ru.alfabank.dmpr.model.zp.ZPKPIDataItem"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
              UnitCode,
              UnitName,
              TimeUnitDD as CalcDate,
              SortOrder,
              InKPICount,
              TotalCount,
              round(TotalDuration/TotalCount, 1) as AvgDuration,
              TotalDuration,
              TotalCWCount,
              KPINorm,
              InKPIRatioAvg,
              LoadedFlCount,
              RetardedCount,
              FullOkCount,
              S1StartDate,
              round(S1Duration, 1) as S1Duration,
              S2StartDate,
              round(S2Duration, 1) as S2Duration,
              S3StartDate,
              round(S3Duration, 1) as S3Duration,
              CompanyINN
            from table
            (
              pkg_zp_api.get_kpi_data(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_DimensionID => #{systemUnitId}
            ))
            order by SortOrder
        ]]>
    </select>

    <select id="getDetails"
            resultType="ru.alfabank.dmpr.model.zp.ZPKPIDataItem"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
              UnitCode,
              UnitName,
              TimeUnitDD as CalcDate,
              SortOrder,
              InKPICount,
              TotalCount,
              round(TotalDuration/TotalCount, 1) as AvgDuration,
              TotalDuration,
              TotalCWCount,
              KPINorm,
              InKPIRatioAvg,
              LoadedFlCount,
              RetardedCount,
              FullOkCount,
              S1StartDate,
              round(S1Duration, 1) as S1Duration,
              S2StartDate,
              round(S2Duration, 1) as S2Duration,
              S3StartDate,
              round(S3Duration, 1) as S3Duration,
              CompanyINN
            from table
            (
              pkg_zp_api.get_kpi_data(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_TimeUnitID => #{timeUnitId},
                  p_DimensionID => #{systemUnitId}
            ))
            order by SortOrder
        ]]>
    </select>

    <select id="getReportDetails"
            resultType="ru.alfabank.dmpr.model.zp.ZPReportDetailsItem"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                CompanyName,
                INN,
                CityName,
                ManagerName,
                S1StartDate,
                round(S1Duration, 2) as S1Duration,
                S2StartDate,
                round(S2Duration, 2) as S2Duration,
                S3StartDate,
                round(S3Duration, 2) as S3Duration,
                round(TotalDuration, 2) as TotalDuration,
                IsInKPI,
                BushName,
                OOName OperationOfficeName
            from table
            (
              pkg_zp_api.get_kpi_data_detail(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait}
            ))
            order by SortOrder
        ]]>
    </select>

    <select id="getRoReportDetails"
            resultType="ru.alfabank.dmpr.model.zp.ZPReportDetailsItem"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                UnitName as CompanyName,
                CompanyINN as INN,
                CityName,
                ManagerName,
                ROStartDate,
                ROFinishDate,
                round(TotalDuration, 2) as TotalDuration,
                BushName,
                OOName OperationOfficeName
            from table
            (
              pkg_zp_api.get_kpi_data(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_DimensionID => 100
            ))
            order by SortOrder
        ]]>
    </select>

    <select id="getProjectDynamic" useCache="false"
            resultType="ru.alfabank.dmpr.model.zp.ZPProjectDynamic"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                unitCode,
                unitname,
                timeUnitDD as CalcDate,
                companyCount,
                startedOkCount
            from table
            (
              pkg_zp_api.get_crm_fill_quality2(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_TimeUnitID => #{timeUnitId}
            ))
        ]]>
    </select>

    <select id="getProjectDetails" useCache="false"
            resultType="ru.alfabank.dmpr.model.zp.ZPProjectDynamic"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                unitCode,
                unitname,
                timeUnitDD as CalcDate,
                companyCount,
                startedOkCount
            from table
            (
              pkg_zp_api.get_crm_fill_quality2(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_TimeUnitID => #{timeUnitId},
                  p_DimensionID => #{systemUnitId}
            ))
        ]]>
    </select>

    <select id="getCrmFillQualityDetails" useCache="false"
            resultType="ru.alfabank.dmpr.model.zp.ZPQualityInfo"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                unitCode,
                unitname,
                companyInn,
                substageId,
                companyCount
            from table
            (
              pkg_zp_api.get_crm_fill_quality(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_DimensionID => #{systemUnitId}
            ))
        ]]>
    </select>

    <select id="getCrmFillQualityDynamic" useCache="false"
            resultType="ru.alfabank.dmpr.model.zp.ZPQualityDynamic"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select
                round(sum(decode(sign(substageId), 1, companyCount/(6+3)))/ nullif(sum(decode(sign(substageId), -1, companyCount)), 0) * 100, 2) TotalValue,
                round(sum(decode(trunc(substageId/100), 1, companyCount/6))/ nullif(sum(decode(sign(substageId), -1, companyCount)), 0) * 100, 2) FirstStageValue,
                round(sum(decode(trunc(substageId/100), 2, companyCount/3))/ nullif(sum(decode(sign(substageId), -1, companyCount)), 0) * 100, 2) SecondStageValue,
                timeUnitDD AS CalcDate
            from table
            (
              pkg_zp_api.get_crm_fill_quality(
                  p_DateFrom => #{startDate},
                  p_DateTill   => #{endDate},
                  p_BushIDs => #{bushIds},
                  p_OOIDs => #{operationOfficeIds},
                  p_CityCodes => #{cityIds},
                  p_CompanyPINs => #{companyIds},
                  p_ManagerCodes => #{managerIds},
                  p_AccOpenSchemeID   => #{openingSchemaTypeId},
                  p_AccOpenTypeID  => #{openingTypeId},
                  p_AccOpenStageIDs    => #{processStageIds},
                  p_AccOpenSubStageID => #{subProcessStageId},
                  p_ZPSchemeIDs => #{schemaTypeIds},
                  p_WithClientWait => #{withClientWait},
                  p_TimeUnitID => #{timeUnitId}
            ))
            group by timeUnitDD
            order by CalcDate
        ]]>
    </select>

    <select id="getInKPIThreshold"
            resultType="double"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select round(pkg_zp_api.get_inkpi_treshold(
                p_BushIDs => #{bushIds},
                p_OOIDs => #{operationOfficeIds},
                p_CityCodes => #{cityIds},
                p_AccOpenStageIDs => #{processStageIds},
                p_AccOpenSubStageID => #{subProcessStageId})
                , 2)
            from dual
        ]]>
    </select>

    <select id="getRetardedThreshold"
            resultType="double"
            parameterType="ru.alfabank.dmpr.model.zp.ZPOpeningSpeedOptions">
        <![CDATA[
            select round(pkg_zp_api.get_retarded_treshold(
                p_BushIDs => #{bushIds},
                p_OOIDs => #{operationOfficeIds},
                p_CityCodes => #{cityIds},
                p_AccOpenStageIDs => #{processStageIds},
                p_AccOpenSubStageID => #{subProcessStageId})
                , 2)
            from dual
        ]]>
    </select>
</mapper>