<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.unitCost.UnitCostMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getUCDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_uc_api.get_UC_distribution_expcat (
          p_DateFrom           => #{startDate},
          p_DateTo             => #{endDate},
          p_CalcTypeID         => #{calcTypeId},
          p_BPORGRegionID      => #{bgOrgRegionId},
          p_BPDivisionGroupDK  => #{directionId}
        ))
        ]]>
    </select>

    <select id="getUCIndexChangeDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt,
          bpcalctype_name as calcType
        FROM TABLE (pkg_uc_api.get_UC_dyn (
          p_DateFrom           => #{startDate},
          p_DateTo             => #{endDate},
          p_CalcTypeID         => #{calcTypeId},
          p_BPORGRegionID      => #{bgOrgRegionId},
          p_BPDivisionGroupDK  => #{directionId},
          p_type  => 1
        ))
        ]]>
    </select>

    <select id="getUCCostDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_uc_api.get_UC_distribution (
          p_DateFrom           => #{startDate},
          p_DateTo             => #{endDate},
          p_CalcTypeID         => #{calcTypeId},
          p_BPORGRegionID      => #{bgOrgRegionId},
          p_BPDivisionGroupDK  => #{directionId}
        ))
        ]]>
    </select>

    <!-- p_DateFrom => #{endDate}, так и задуманно -->
    <select id="getUCFotDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_uc_api.get_UC_distribution_fot (
          p_DateFrom           => #{endDate},
          p_DateTo             => #{endDate},
          p_CalcTypeID         => 6,
          p_BPORGRegionID      => #{bgOrgRegionId},
          p_BPDivisionGroupDK  => #{directionId}
        ))
        ]]>
    </select>

    <select id="getUCUnitCostDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_uc_api.get_UC_dyn (
          p_DateFrom            => #{startDate},
          p_DateTo              => #{endDate},
          p_BPORGRegionID       => #{bgOrgRegionId},
          p_BPDivisionGroupDK   => #{directionId},
          p_BPInnerEndProductDK => #{innerEndProductId},
          p_type  => 2
        ))
        ]]>
    </select>





    <select id="getCostDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_distribution (
          p_DateFrom      => #{startDate},
          p_DateTo        => #{endDate},
          p_CalcTypeID    => #{calcTypeId},
          p_DirectionIDs  => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getCostDistributionFot" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_distribution_fot (
          p_DateFrom      => #{startDate},
          p_DateTo        => #{endDate},
          p_CalcTypeID    => #{calcTypeId},
          p_DirectionIDs  => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getCostDistributionOperBlock" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_distribution_oper_div (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId}
        ))
        ]]>
    </select>

    <select id="getDataByFunction" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_by_function (
          p_DateFrom     => #{startDate},
          p_DateTo       => #{endDate},
          p_CalcTypeID   => #{calcTypeId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getDataByFunctionDrillDown" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_by_function (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_GrpUkID     => #{groupId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getDataByDirection" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_by_direction (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getDataByDirectionDrillDown" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_by_direction (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_GrpUkID     => #{groupId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getDataTopN" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt,
          topByField
        FROM TABLE (pkg_unitcost_api.get_UC_data_topN (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_TopCount    => 20,
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getDataByBlock" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_by_block (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId}
        ))
        ]]>
    </select>

    <select id="getDataGrouped" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostDataItem">
        <![CDATA[
        SELECT
          value_day as calcDate,
          grptype_value_uk as groupId,
          grptype_value_ccode as groupCode,
          grptype_value_name as groupName,
          bpinnerendproduct_dk as innerEndProductId,
          bpinnerendproduct_ccode as innerEndProductCode,
          bpinnerendproduct_name as innerEndProductName,
          totalsum_rur_amt as totalRurSum,
          totalsum_usd_amt as totalUsdSum,
          indexchangeprevmon_factor as indexChangeFactor,
          unitcostsum_rur_amt as unitCostRurSum,
          unitcostsum_usd_amt as unitCostUsdSum,
          totallaborvalue_cnt as totalLaborValueCnt,
          unitcostsum_rur_amt_cumulative as unitCostRurSumCumulative,
          unitcostsum_usd_amt_cumulative as unitCostUsdSumCumulative,
          quantity_cnt as quantityCnt
        FROM TABLE (pkg_unitcost_api.get_UC_data_grouped (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId}
        ))
        ]]>
    </select>

    <select id="getReport1" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostReportDataItem">
        <![CDATA[
        SELECT
          DIRECTION_NAME as directionName,
          PRDTYPE_NAME as calcType,
          VALUE_DAY as calcDate,
          BPINNERENDPRODUCT_CCODE as innerEndProductCode,
          BPINNERENDPRODUCT_NAME as innerEndProductName,
          BPORGREGION_CCODE as regionCode,
          PROFITCENTER_RUS_CCODE as profitCenterCode,
          TOTALLABORVALUE_CNT as totalLaborCnt,
          TOTALBPIEPQUANTITY_CNT as totalBpiepQuantityCnt,
          UNITCOSTVALUE_USD_AMT as unitCostUsdSum,
          UNITCOSTVALUE_RUR_AMT as unitCostRurSum,
          TOTALCOSTVALUE_USD_AMT as totalUsdSum,
          TOTALCOSTVALUE_RUR_AMT as totalRurSum
        FROM TABLE (pkg_unitcost_api.get_UC_report1 (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>

    <select id="getReport2" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostReportDataItem">
        <![CDATA[
        SELECT
          DIRECTION_NAME as directionName,
          PRDTYPE_NAME as calcType,
          VALUE_DAY as calcDate,
          BPINNERENDPRODUCT_CCODE as innerEndProductCode,
          BPINNERENDPRODUCT_NAME as innerEndProductName,
          BPORGREGION_CCODE as regionCode,
          PROFITCENTER_RUS_CCODE as profitCenterCode,
          TOTALLABORVALUE_CNT as totalLaborCnt,
          TOTALBPIEPQUANTITY_CNT as totalBpiepQuantityCnt,
          UNITCOSTVALUE_USD_AMT as unitCostUsdSum,
          UNITCOSTVALUE_RUR_AMT as unitCostRurSum,
          TOTALCOSTVALUE_USD_AMT as totalUsdSum,
          TOTALCOSTVALUE_RUR_AMT as totalRurSum
        FROM TABLE (pkg_unitcost_api.get_UC_report2 (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate},
          p_CalcTypeID  => #{calcTypeId},
          p_DirectionIDs => #{directionIds}
        ))
        ]]>
    </select>
    <!--ECXEL-->
    <select id="getUnitCost" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCost">
        <![CDATA[
       SELECT
 PRDTYPE_CCODE  as prdtypeCcode
, lvl  as lvl
, value_day  as valueDay
, BPINNERENDPRODUCT_NAME  as bpinnerendproductName
, BPINNERENDPRODUCT_CCODE as bpinnerendproductCcode
, BPORGREGION_CCODE  as bporgregionCcode
, BPDIVISIONGROUP_IEP_CCODE  as bpdivisiongroupIepCcode
, TOTALBPIEPQUANTITY_CNT  as totalbpiepquantityCnt
, TOTALLABORVALUE_CNT  as totallaborvalueCnt
, TOTALCOSTUSD_CNT  as totalcostusdCnt
, TOTALCOSTRUR_CNT  as totalcostrurCnt
, UC_USD  as ucUsd
, UC_RUR as ucRur
        FROM TABLE (pkg_uc_api.get_Unit_Cost (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>

    <select id="getPl" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.Pl">
        <![CDATA[
SELECT
   VALUE_DAY  valueDay
, CCODE   ccode
, RUS_CCODE rusCcode
, NCODE_PL  ncodePl
, NAME_PL  namePl
, NCODE_GR  ncodeGr
, NAME_GR nameGr
, SUM_RUR_AMT sumRurAmt
, SUM_USD_AMT sumUsdAmt
        FROM TABLE (pkg_uc_api.get_PL (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>
    <!--0-->
    <select id="getDetailreportUc" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.DetailreportUc">
        <![CDATA[
SELECT
 VALUE_DAY valueDay
,PROFITCENTER_RUS_CCODE  profitcenterRusCcode
,BPORGREGION_COST_CCODE bporgregionCostCcode
,TOTALCOSTVALUEPC_USD_AMT2  totalcostvaluepcUsdAmt2
,BPDIVISIONGROUP_IEP_CCODE bpdivisiongroupIepCcode
,BPINNERENDPRODUCT_NAME bpinnerendproductName
,BPINNERENDPRODUCT_CCODE bpinnerendproductCcode
,BPORGREGION_LVL4_CCODE bporgregionlvl4ccode
,BPORGREGION_LVL3_CCODE bporgregionlvl3ccode
,BPORGREGION_LVL2_CCODE bporgregionlvl2ccode
,BPORGREGION_LVL1_CCODE bporgregionlvl1ccode
,TOTALBPIEPQUANTITY_CNT totalbpiepquantitycnt
,TOTALLABORVALUE_CNT totallaborvaluecnt
,normativ normativ
,TOTALLABORVALUEPC_CNT totallaborvaluepccnt
,IEP2WORKLOAD_RATE iep2workloadrate
,TOTALCOSTVALUE_USD_AMT totalcostvalueusdamt
,TOTALCOSTVALUE_RUR_AMT totalcostvalueruramt
,TOTALCOSTVALUEPC_USD_AMT totalcostvaluepcusdamt
,TOTALCOSTVALUEPC_RUR_AMT totalcostvaluepcruramt
        FROM TABLE(pkg_uc_api.get_DETAILREPORT_UC (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>

    <!--1-->
    <select id="getBpucplrptstringShist" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.BpucplrptstringShist">
        <![CDATA[
SELECT
 NCODE_PL  ncodepl
,name_PL namepl
,NCODE_upc ncodeupc
,name_upc nameupc
,EFFECTIVE_FROM effectiveFrom
,EFFECTIVE_TO effectiveTo
        FROM TABLE(pkg_uc_api.get_BPUCPLRPTSTRING_SHIST (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>
    <!--2-->
    <select id="getBpplallocrulesShist" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UcBpplallocrulesShist">
        <![CDATA[
SELECT
   PC pc
,  START_DATE_1 startDate1
,  PC_1 pc1
, START_DATE_2 startDate2
, NCODE_UPC ncodeupc
, NAME_UPC nameupc
, CCODE ccode
, name name
, RUR_AMT ruramt
, USD_AMT usdamt
, BPDRIVERALLOC_FACTOR bpdriverallocFactor
, CORR_VALUE_DAY corrValueDay
, EFFECTIVE_FROM effectiveFrom
, EFFECTIVE_TO effectiveTo
        FROM TABLE(pkg_uc_api.get_bpplallocrules_shist (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>
    <!--3-->
    <select id="getBpiep2profitcenterShist" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.Bpiep2profitcenterShist">
        <![CDATA[
SELECT
PC pc
, START_DATE startDate
, ccode_pc ccodepc
, KP kp
, CCODE_reg ccodereg
, NAME_reg namereg
, ccode_dr ccodedr
, name_dr  namedr
, HEADCOUNT_AMT headcountAmt
, EFFECTIVE_FROM effectiveFrom
, EFFECTIVE_TO  effectiveTo
        FROM TABLE(pkg_uc_api.get_BPIEP2PROFITCENTER_SHIST (
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
        ]]>
    </select>

    <select id="getCurrRate" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.unitCost.UnitCostReportCurRate">
        <![CDATA[
SELECT busnDate,
       codeCurr,
       rateCurr
FROM TABLE(dmpr.pkg_uc_api.get_UC_currency(
          p_DateFrom    => #{startDate},
          p_DateTo      => #{endDate}
        ))
ORDER BY  busnDate

        ]]>
    </select>


</mapper>