<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.unitCost.UnitCostFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getUCBpOrgRegions" resultType="ru.alfabank.dmpr.model.BaseEntityWithCode">
        select id, name, ccode as code
        from table(pkg_uc_api.get_bporgregions)
        order by sort_order
    </select>

    <select id="getUCCalcTypes" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_uc_api.get_calctypes)
        order by sort_order
    </select>

    <select id="getProfitCenter" useCache="false"
            parameterType="ru.alfabank.dmpr.model.unitCost.UnitCostPeriodOptions"
            resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        SELECT
           id, name
        FROM TABLE (pkg_uc_api.get_PROFITCENTER (
          p_DateFrom           => #{startDate},
          p_DateTo             => #{endDate},
          p_CalcTypeID         => #{calcTypeId},
          p_BPORGRegionID      => #{bgOrgRegionId},
          p_BPDivisionGroupDK  => #{directionId}
        ))
        ]]>
    </select>


    <select id="getUCDirections" resultType="ru.alfabank.dmpr.model.BaseEntity" parameterType="map" useCache="false">
        select id, name
        from table(pkg_uc_api.get_directions(#{endDate}))
        order by sort_order
    </select>

    <select id="getUCInnerEndProducts" resultType="ru.alfabank.dmpr.model.ChildEntity" parameterType="map" useCache="false">
        select id, name, parent_id as parentId
        from table(pkg_uc_api.get_bpinnerendproducts(#{endDate}))
        order by sort_order
    </select>

    <select id="getUCCurrencies" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_uc_api.get_currencies)
        order by sort_order
    </select>



    <select id="getCalcTypes" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_unitcost_api.get_calctypes)
        order by sort_order
    </select>

    <select id="getDirections" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_unitcost_api.get_directions)
        order by sort_order
    </select>

    <select id="getCurrencies" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_unitcost_api.get_currencies)
        order by sort_order
    </select>
</mapper>