<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.workload.WorkloadMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>


    <select id="getDivisionStat" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DivisionStat">
        <![CDATA[

        select
            WLUNITTK as id,
            WLPARENTUNITTK as parentId,
            WLUNITNAME as unitName,
            BPDIVISIONGROUP_DK as divisionGroupId,
            BPORGREGION_DK as regionId,
            decode(DUODR_FLAG, 'N', 0, 1) as isDuodr,
            WorkloadRate,
            StaffCountFact,
            StaffCountDeltaCnt,
            VacancyCnt,
            DecretVacancyCnt,
            HFCriterionCnt,
            HFCriterionW4Cnt,
            HFCriterionW8Cnt,
            NonSLAStaffCnt,
            RelocationRate,
            SLAFactValueDoubleCnt as slaFactValueDoubleCnt,
            Lvl
        from table(pkg_workload_api.get_bpdivision_stat(
            p_DateTo => #{endDate},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId},
             p_DuodrRegDK  => #{duodrReg}
        ))

        ]]>
    </select>

    <select id="getWLDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.WLDynamicItem">
        <![CDATA[

        select
            calcdate,
            wlunittk as unitId,
            workloadrate,
            StaffCountCalc,
            staffcountfact,
            StaffCountFact2,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_WL_dynamics(
            p_DateTo => #{endDate},
            p_WeekCnt => #{weekCount},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId}
        ))

        ]]>
    </select>

    <select id="getESUDynamic" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.ESUDynamicItem">
        <![CDATA[

        select
            calcDate,
            wlUnitTk as unitId,
            wlParentUnitTk as parentUnitId,
            wlUnitName as unitName,
            bpdivisiongroup_dk as divisionGroupId,
            bpOrgRegion_dk as regionId,
            bpiep_rate as iepRate,
            bpiep_cnt as iepCount,
            staffcountCalc,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_ESU_dynamics(
            p_DateTo => #{endDate},
            p_WeekCnt => #{weekCount},
            p_RPTypeID => #{rpTypeId},
            p_BPDIVISIONGROUPDK => #{divisionGroupId},
            p_BPORGREGIONDK => #{regionId}
        ))

        ]]>
    </select>


    <select id="getStaffDistribution" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DistributionInfo">
        <![CDATA[

        select
            calcdate,
            wlunittk as id,
            wlunitname as unitName,
            staffCountFact,
            calcdate_year as timeUnitYear,
            calcdate_prd_num as timeUnitPrdNum
        from table(pkg_workload_api.get_StaffCnt_dynamics(
            p_DateTo  => #{endDate},
            p_Slice   => #{sliceCode},
            p_WeekCnt => #{weekCount},
            p_BPDivisionGroupDK => #{divisionGroupId},
            p_BPOrgRegionDK => #{regionId}
        ))

        ]]>
    </select>

    <select id="getTopNTable" useCache="false"
            parameterType="ru.alfabank.dmpr.model.workload.WorkloadQueryOptions"
            resultType="ru.alfabank.dmpr.model.workload.DivisionStat">
        <![CDATA[

        select
          wlunittk as id,
          wlunitname as unitname,
          bporgregion_dk as regionId,
          bporgregion_name as regionName,
          staffcountcalc as StaffCountDeltaCnt
       from table(pkg_workload_api.get_ESU_OB_topN_week_delta(
          p_DateTo => #{endDate},
          p_TopSide => #{topSide}
       ))

        ]]>
    </select>

    <select id="getBpiepnormValue" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.BpiepnormValue">
        <![CDATA[
select
B.CCODE as BpinnerendProductCcode
, B.NAME as BpinnerendProductName
, C.CCODE as BporgRegionCcode
, c.name as BporgRegionName
, D.CCODE as BpDivisionGroupCcode
, D.NAME as BpDivisionGroupName
, A.NORMATIVE_MINUTES as NormativeMinutes
, A.EFFECTIVE_FROM as EffectifFrom
, A.EFFECTIVE_TO as EffectifTo
from DMPR.BPIEPNORMVALUE_SHIST a
join DMPR.BPINNERENDPRODUCT_EDIM b on A.BPINNERENDPRODUCT_DK=b.dk and B.DELETED_FLAG='N'
and B.EFFECTIVE_TO='31.12.5999'
join DMPR.BPORGREGION_SDIM c on A.BPORGREGION_DK=c.dk and C.DELETED_FLAG='N'
join DMPR.BPDIVISIONGROUP_EDIM d on A.DIVISIONGROUP_UK=d.dk and D.DELETED_FLAG='N'
and D.EFFECTIVE_TO='31.12.5999'
where A.DELETED_FLAG='N'
        ]]>
    </select>
    <select id="getBpworkWeek" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.BpworkWeekReport">
        <![CDATA[

select  b.ccode as Ccode,
B.NAME as Name,
A.NUMBER_OF_WEEK as NumberOfWeek,
A.YEAR_DATE as YearWeek,
A.VALUE_DAY as ValueDay,
A.WORKMIN_CNT as WorkminCnt
from DMPR.BPWORKWEEK_STAT a
join DMPR.BPWORKSCHEDULETYPE_SDIM b on A.BPWORKSCHEDULETYPE_DK=b.dk

        ]]>
    </select>


    <select id="getConvertCount" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.ConvertCountReport">
        <![CDATA[

select
value_day as ValueDay,
bpdivisiongroup_ccode as BpDivisionGroupCcode,
b.name as BpinnerendProductName,
b.ccode as BpinnerendProductCcode,
b.portfolio_flag as PortfolioFlag,
A.BPORGREGION_CCODE as BporgRegionCcode,
A.NORMATIVE_MINUTES as NormativeMinutes,
a.TOTALBPIEPQUANTITY_CNT  as TotalbpiepquantityCnt,
A.TOTALLABORVALUE_CNT as TotallaborvalueCnt,
A.WORKTIME4STAFFUNIT_CNT as Worktime4staffunitCnt,
A.ESTIMATEDSTAFFUNIT_CNT as EstimatedstaffunitCnt
from dmpr.BPAGGRWORKLOAD_RPT a
join DMPR.BPINNERENDPRODUCT_EDIM b on A.BPINNERENDPRODUCT_DK=b.dk
and B.EFFECTIVE_FROM <= A.VALUE_DAY and A.VALUE_DAY<B.EFFECTIVE_TO
order by value_day

        ]]>
    </select>

    <select id="getWorkload" useCache="false"
            resultType="ru.alfabank.dmpr.model.workload.WorkloadReport">
        <![CDATA[

select
a.VALUE_DAY as ValueDay,
bd1.name as BpdivisiongroupNameLvl1,
bd2.name as BpdivisiongroupNameLvl2 ,
bd3.name as BpdivisiongroupNameLvl3 ,
bd3.ccode as BpDivisionGroupCcode,
r2.ccode as BporgRegionCcodeLvl2 ,
BPORGREGION_CCODE as BporgRegionCcodeLvl3 ,
TOTALFACTVALUE_CNT as TotalfactvalueCnt,
SLAFACTVALUE_CNT as SlafactvalueCnt,
SLAFACTVALUEDOUBLE_CNT  as SlafactvaluedoubleCnt,
SLAFACTVACANCY_CNT as SlafactvacancyCnt,
SLAFACTVACANCYTEMP_CNT as SlafactvacancytempCnt,
NOSLAFACTVALUE_CNT as NoslafactvalueCnt,
NOSLAFACTVALUEDOUBLE_CNT as NoslafactvaluedoubleCnt,
NOSLAFACTVACANCY_CNT as NoslafactvacancyCnt,
NOSLAFACTVACANCYTEMP_CNT as NoslafactvacancytempCnt,
ESTIMATEDSTAFFUNIT_W8_CNT as NoslafactvacancytempCnt,
QUARTILE1_W8_CNT as Quartile1W8Cnt,
QUARTILE3_W8_CNT as Quartile3W8Cnt,
LOWLIMIT_W8_CNT as LowlimitW8Cnt,
HIGHLIMIT_W8_CNT as HighlimitW8Cnt,
CRITERIA_W8_CNT as CriteriaW8Cnt,
QUARTILE1_W4_CNT as Quartile1W4Cnt,
QUARTILE3_W4_CNT as Quartile3W4Cnt,
LOWLIMIT_W4_CNT as LowlimitW4Cnt,
HIGHLIMIT_W4_CNT as HighlimitW4Cnt,
CRITERIA_W4_CNT as CriteriaW4Cnt,
TOTALCRITERIA_CNT as TotalcriteriaCnt,
WORKLOAD_FACTOR  as WorkloadFactor
from dmpr.BPWORKLOAD_RPT a
join DMPR.BPDIVISIONGROUP_EDIM bd3 on a.BPDIVISIONGROUP_DK=bd3.dk and bd3.effective_to>A.VALUE_DAY and A.VALUE_DAY>=bd3.effective_from
join DMPR.BPDIVISIONGROUP_EDIM bd2 on bd3.parent_dk=bd2.dk and bd2.effective_to>A.VALUE_DAY and A.VALUE_DAY>=bd2.effective_from
join DMPR.BPDIVISIONGROUP_EDIM bd1 on bd2.parent_dk=bd1.dk and bd1.effective_to>A.VALUE_DAY and A.VALUE_DAY>=bd1.effective_from
join DMPR.BPORGREGION_SDIM r3 on A.BPORGREGION_DK=r3.dk
join DMPR.BPORGREGION_SDIM r2 on R3.PARENT_UK=r2.dk
order by value_day, bd2.name,bd3.name

        ]]>
    </select>

</mapper>