<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.ctq.CTQFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getTimeUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_ctqb_api.get_timeunits) order by sort_order
    ]]>
    </select>

    <select id="getKPIs" resultType="ru.alfabank.dmpr.model.ctq.CTQDashboardKPIEntity">
        <![CDATA[
        select id, code, parentid, name, sort_order sortOrder, additional_info additionalInfo
          from table (pkg_ctqb_api.get_kpis) order by sort_order
    ]]>
    </select>

    <select id="getLayout" useCache="false" resultType="ru.alfabank.dmpr.model.ctq.CTQLayoutItem">
        <![CDATA[
        select
          dshbblockgroup_dk         as blockGroupId,
          dshbblockgroup_name       as blockGroupName,
          dshbblockgroup_order_num  as blockGroupOrderNum,
          dshbblock_dk               as blockId,
          dshbblock_col_number       as blockColumnNumber,
          dshbblock_row_number       as blockRowNumber,
          dshbblock_name             as blockName,
          dshbblock_description      as blockDescription,
          dshbblock_showname_flag    as blockShowNameFlag,
          dshbblock_shownorm_flag    as blockShowNormFlag,
          dshbblock_showfact_flag    as blockShowFactFlag,
          dshbblock_showsl_flag      as blockShowSlFlag,
          dshbblock_hidecaption_flag as blockHideCaptionFlag,
          dshbblock_zerotarget_flag  as blockZeroTargetFlag,
          dshbblock_drilldown_url    as blockDrillDownUrl,
          bpkpi_dk                   as id,
          bpkpi_alias                as alias,
          description                as description,
          barcolor_ccode             as barColor,
          norm_prefix                as normPrefix,
          order_num                  as orderNum
          from table (pkg_ctqb_api.get_layout)
    ]]>
    </select>

    <select id="getWeeks" resultType="ru.alfabank.dmpr.model.Week">
        select
        week_id as id,
        week_year as year,
        week_num as weekNum,
        week_start_date as startDate,
        week_end_date as endDate
        from table(pkg_ctqb_api.get_weeks)
    </select>
</mapper>