<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.operKpi.OperKpiMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getOperKpiHunterValues" useCache="false"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            reportTypeID,
            reportTypeName,
            DurGroup_Name as durGroupName,
            factValue_PIL as factValuePIL,
            factValue_CC as factValueCC,
            factValue_total as factValueTotal
        from table(PKG_PILCC_API.get_OPER_KPI_HUNTER_VALUES(
            pStartDate => #{startDate},
            pEndDate => #{endDate},
            pModule_IDs => #{sourceSystemIds}
        ))
        order by SORT_ORDER
    </select>

    <select id="getOperKpiRbpValues" useCache="false"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            reportTypeID,
            reportTypeName,
            DurGroup_Name as durGroupName,
            factValue_PIL as factValuePIL,
            factValue_CC as factValueCC,
            factValue_total as factValueTotal
        from table(PKG_PILCC_API.get_OPER_KPI_RBP_VALUES(
            pStartDate => #{startDate},
            pEndDate => #{endDate},
            pModule_IDs => #{sourceSystemIds}
        ))
        order by SORT_ORDER
    </select>

    <select id="getOperKpiHunterDtlValues" useCache="false" fetchSize="1000"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiDetailValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            CHANNEL_NAME as channelName,
            PRODUCT_TYPE as productType,
            BPOPERATION_DUR_CNT bpOperationDuration,
            DURGROUP_NAME as durGroupName,
            LOANAPPL_REF_PARENT as loanApplRefParent,
            DEAL_REF as dealRef,
            OP_END_TIME as opEndTime
        from table(PKG_PILCC_API.get_OPER_KPI_HUNTER_DTL_VALUES (
            pStartDate => #{startDate},
            pEndDate => #{endDate},
            pModule_IDs => #{sourceSystemIds}
        ))
    </select>

    <select id="getOperKpiRbpDtlValues" useCache="false" fetchSize="1000"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiDetailValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            CHANNEL_NAME as channelName,
            PRODUCT_TYPE as productType,
            BPOPERATION_DUR_CNT bpOperationDuration,
            DURGROUP_NAME as durGroupName,
            LOANAPPL_REF_PARENT as loanApplRefParent,
            DEAL_REF as dealRef,
            OP_END_TIME as opEndTime
        from table(PKG_PILCC_API.get_OPER_KPI_RBP_DTL_VALUES (
            pStartDate => #{startDate},
            pEndDate => #{endDate},
            pModule_IDs => #{sourceSystemIds}
        ))
    </select>

    <select id="getOperKpiScorValues" useCache="false"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiScorValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            ReportTypeID,
            ReportTypeName,
            BPKPI_CCODE as bpKpiCode,
            BPKPI_NAME as bpKpiName,
            DURGROUP_NAME as durGroupName,
            FACTVALUE_PIL as factValuePil,
            FACTVALUE_CC as factValueCC,
            SORT_ORDER as sortOrder
        from table(PKG_PILCC_API.get_OPER_KPI_SCOR_VALUES(
            pStartDate           => #{startDate},
            pEndDate             => #{endDate},
            pModule_IDs          => #{sourceSystemIds},
            pSevenFieldCheckFlag => #{sevenFieldsCheckCode}
        ))
        order by BPKPI_NAME, SORT_ORDER
    </select>

    <select id="getOperKpiScorDynamic" useCache="false"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiScorDynValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            ReportTypeID,
            ReportTypeName,
            VALUE_DAY as calcDate,
            DURGROUP_NAME as durGroupName,
            FACTVALUE_TOTAL as factValueTotal,
            SORT_ORDER as sortOrder
        from table(PKG_PILCC_API.get_OPER_KPI_SCOR_VALUES_DYN(
            pStartDate    => #{startDate},
            pEndDate      => #{endDate},
            pModule_IDs   => #{sourceSystemIds},
            pTimeUnit_ID  => #{timeUnitId},
            pSevenFieldCheckFlag => #{sevenFieldsCheckCode}
        ))
        order by ReportTypeID, VALUE_DAY, SORT_ORDER
    </select>

    <select id="getOperKpiScorDtlValues" useCache="false" fetchSize="1000"
            resultType="ru.alfabank.dmpr.model.operKpi.OperKpiScorDetailValue"
            parameterType="ru.alfabank.dmpr.model.operKpi.OperKpiOptions">
        select
            CHANNEL_NAME as channelName,
            PRODUCT_TYPE as productType,
            BPOPERATION_DUR_CNT bpOperationDuration,
            DURGROUP_NAME as durGroupName,
            KPI_LOAN_CCODE as kpiLoanCode,
            MODULE_NAME as moduleName,
            OP_END_TIME as opEndTime,
            BPKPI_NAME as bpKpiName
        from table(PKG_PILCC_API.get_OPER_KPI_SCOR_DTL_VALUES (
            pStartDate => #{startDate},
            pEndDate => #{endDate},
            pSevenFieldCheckFlag => #{sevenFieldsCheckCode}
        ))
    </select>
</mapper>