<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.ob.ObQualityMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="getRatingData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObQualityDataItem">
        <![CDATA[
        select
          kpiKindName,
          unitCode,
          unitName,
          bpDivisionGroupId,
          bpDivisionGroupName,
          bpOrgRegionId,
          bpOrgRegionName,
          kpiId,
          kpiName,
          timeUnitDD,
          timeUnitYear,
          timeUnitPrdNum,
          sortOrder,
          kpiNorm,
          inKpiCount,
          totalCount,
          kpiRatioAvg,
          kpi2RatioAvg,
          prevKpiRatioAvg,
          prevKpi2RatioAvg
        from table(pkg_kpiob_api.get_kpi_data(
          p_DateFrom           => #{startDate},
          p_DateTill           => #{endDate},
          p_TimeUnitID         => #{timeUnitId},
          p_DimCode            => #{systemUnitCode},
          p_KPIKindID          => #{kpiKindId},
          p_BPDivisionGroupIDs => #{directionIds},
          p_BushIDs            => #{regionIds},
          p_DUODRFlag          => #{doudrFlag},
          p_KPIIDs             => #{kpiId}
        ))
        ]]>
    </select>

    <select id="getDynamicData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObQualityDataItem">
        <![CDATA[
        select
          kpiKindName,
          unitCode,
          unitName,
          bpDivisionGroupId,
          bpDivisionGroupName,
          bpOrgRegionId,
          bpOrgRegionName,
          kpiId,
          kpiName,
          timeUnitDD,
          timeUnitYear,
          timeUnitPrdNum,
          sortOrder,
          kpiNorm,
          inKpiCount,
          totalCount,
          kpiRatioAvg,
          kpi2RatioAvg,
          prevKpiRatioAvg,
          prevKpi2RatioAvg
        from table(pkg_kpiob_api.get_kpi_data(
          p_DateFrom           => #{startDate},
          p_DateTill           => #{endDate},
          p_TimeUnitID         => #{timeUnitId},
          p_DimCode            => #{systemUnitCode},
          p_KPIKindID          => #{kpiKindId},
          p_BPDivisionGroupIDs => #{directionIds},
          p_BushIDs            => #{regionIds},
          p_DUODRFlag          => #{doudrFlag},
          p_KPIIDs             => #{kpiId}
        ))
        ]]>
    </select>

    <select id="getDetailsData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObQualityDataItem">
        <![CDATA[
        select
          kpiKindName,
          unitCode,
          unitName,
          bpDivisionGroupId,
          bpDivisionGroupName,
          bpOrgRegionId,
          bpOrgRegionName,
          kpiId,
          kpiName,
          timeUnitDD,
          timeUnitYear,
          timeUnitPrdNum,
          sortOrder,
          kpiNorm,
          inKpiCount,
          totalCount,
          kpiRatioAvg,
          kpi2RatioAvg,
          prevKpiRatioAvg,
          prevKpi2RatioAvg,
          description
        from table(pkg_kpiob_api.get_kpi_data(
          p_DateFrom           => #{startDate},
          p_DateTill           => #{endDate},
          p_DimCode            => #{systemUnitCode},
          p_KPIKindID          => #{kpiKindId},
          p_BPDivisionGroupIDs => #{directionIds},
          p_BushIDs            => #{regionIds},
          p_DUODRFlag          => #{doudrFlag},
          p_KPIIDs             => #{kpiId},
          p_DetailMode         => #{detailsMode}
        ))
        ]]>
    </select>

    <select id="getsummarykpiob" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObReportSummaryQuality">
        <![CDATA[
        select
             valueday,
             period,
             typeperiod,
             numperiod,
             directorate,
             nametype,
             codekpi,
             namekpi  ,
             regions,
             regioncenter,
             direction,
             summary,
             successfully,
             factkpi,
             goatkpi,
             executekpi,
             descript,
             duodr_flag
        from table(pkg_kpiob_api.get_summaryKpiOb())
        ]]>
    </select>

    <select id="getsummarykpiob_filter" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObReportSummaryQualityFilter">
        <![CDATA[
        select
             valueday,
             period,
             typeperiod,
             numperiod,
             directorate,
             nametype,
             codekpi,
             namekpi  ,
             regions,
             regioncenter,
             direction,
             summary,
             successfully,
             factkpi,
             goatkpi,
             executekpi,
             descript,
             duodr_flag
        from table(pkg_kpiob_api.get_summaryKpiOb_filter(
                    p_DateFrom           => #{startDate},
                    p_DateTill           => #{endDate},
                    p_KPIKindID          => #{kpiKindId},
                    p_BPDivisionGroupIDs => #{directionIds},
                    p_BushIDs            => #{regionIds}
        ))
        ]]>
    </select>


    <select id="getObDssEmployees" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObDssemployees">
        <![CDATA[

      select division_name
          ,user_name
          ,oper1
          ,goodtime24
          ,goodtime24p
          ,goodtime48
          ,goodtime48p
          ,dop
        from table(pkg_kpiob_api.get_DssEmployees(
         p_DateFrom           => #{startDate},
                    p_DateTill           => #{endDate}

        )) order by 1

        ]]>
    </select>


    <select id="getObDss" useCache="false"
            parameterType="ru.alfabank.dmpr.model.ob.ObQualityQueryOptions"
            resultType="ru.alfabank.dmpr.model.ob.ObDss">
        <![CDATA[
     select  division_name,
        loanappl_ref,
        user_name,
        slaoperationsrc_name,
        slaoperationsrc_no,
        operation_start_time,
        operation_end_time,
        di,
        time2
        from table(pkg_kpiob_api.get_Dss(
         p_DateFrom           => #{startDate},
         p_DateTill           => #{endDate}
        ))

        ]]>
    </select>


</mapper>