<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.ob.ObQualityFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getTimeUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_kpiob_api.get_timeunits) order by sort_order
    ]]>
    </select>

    <select id="getKPIKinds" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_kpiob_api.get_kpikinds) order by sort_order
    ]]>
    </select>

    <select id="getKPI" resultType="ru.alfabank.dmpr.model.ChildEntityWithInfo" parameterType="ru.alfabank.dmpr.model.ob.ObQualityOptions">
        <![CDATA[
        select id, parentId, name, additional_Info additionalInfo from table(pkg_kpiob_api.get_kpis(
         p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_BPDivisionGroupIDs => #{directionIds},
          p_BushIDs => #{regionIds},
           p_kpiKindId => #{kpiKindId}
        )) order by sort_order
    ]]>
    </select>

    <select id="getRegions" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_kpiob_api.get_bushes (
          p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_BPDivisionGroupIDs => #{directionIds},
          p_TimeUnitID         => #{timeUnitId},
          p_KPIKindID          => #{kpiKindId}
          )) order by sort_order
    ]]>
    </select>

    <select id="getDirections" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_kpiob_api.get_bpdivisiongroups) order by sort_order
    ]]>
    </select>

    <select id="getWeeks" resultType="ru.alfabank.dmpr.model.Week">
        select
        week_id as id,
        week_year as year,
        week_num as weekNum,
        week_start_date as startDate,
        week_end_date as endDate
        from table(pkg_kpiob_api.get_weeks)
    </select>
</mapper>