<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.statistic.mapper.StatisticMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <insert id="insertStatistic" parameterType="ru.alfabank.dmpr.statistic.Statistic" useGeneratedKeys="false">
        insert into DQMON.DMPR_USERS_OPEX_STAT(
            UK ,
            LOGIN ,
            REPORT ,
            REPORT2 ,
            date_in ,
            date_insert
        )
        VALUES
        <foreach collection="statistics" item="model" separator=",">
            (
            dbms_random.value(1,99999999999),
            #{model.user},
            #{model.page},
            null,
            #{model.localDateTime},
            sysdate
            )
        </foreach>
    </insert>
</mapper>