<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.nom.NomMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getInnerEndProducts" useCache="false" resultType="ru.alfabank.dmpr.model.ChildEntityWithCode">
        select id, name, parent_id as parentid, ccode as code
        from table(pkg_nom_api.get_InnerEndProducts(p_levels => '1,2'))
        order by sort_order
    </select>

    <select id="getProfitCenters" useCache="false" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_nom_api.get_ProfitCenters)
        order by sort_order
    </select>

    <select id="getBlocks" useCache="false" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_nom_api.get_Blocks)
        order by sort_order
    </select>

    <select id="getKpiData" useCache="false"
            parameterType="ru.alfabank.dmpr.model.nom.NomQueryOptions"
            resultType="ru.alfabank.dmpr.model.nom.NomKpiDataItem">
        <![CDATA[
        SELECT
        calcDate,
        calcdate_prd_num as periodNum,
        divisionGroup_Id as divisionGroupId,
        IEP_ID as innerEndProductId,
        round(fact_cnt) as factCount,
        is_manual as isManual
        FROM TABLE (pkg_nom_api.get_kpi_data_new(
        p_Date_From             => #{startDate}, -- Дата начала периода
        p_Date_Till             => #{endDate}, -- Дата окончания периода
        p_TimeUnit_ID           => #{timeUnitId},   -- Уровень деталзации по времени
        p_DivisionGroup_IDs     => #{divisionGroupIds},
        p_levels                => #{levels},
        p_OnlyLastPeriod        => #{onlyLastPeriod},
        p_InnerProduct_IDs      => #{innerProductIds},
        p_SubInnerProduct_IDs   => #{subInnerProductIds}
        ))
        ]]>
    </select>

    <select id="getReport" useCache="false" fetchSize="1000"
            parameterType="ru.alfabank.dmpr.model.nom.NomQueryOptions"
            resultType="ru.alfabank.dmpr.model.nom.NomDetailsReportRow">
        <![CDATA[
        select
            value_day valueDay,
            value_day_prd_num as periodNum,
            direction,
            divGrp,
            KP_CCODE as kpCCode,
            KP_NAME as kpName,
            KP2_CCODE as kp2CCode,
            KP2_NAME as kp2Name,
            oo_doc as ooDoc,
            CO_RP as coRp,
            region,
            blk,
            calcType,
            cnt,
            KP_portfolio_flag as portfolioFlag,
            CALCTYPE_name calcTypeName
        FROM TABLE (pkg_nom_api.get_kpi_data2excel_new(
        p_Date_From             => #{startDate},
        p_Date_Till             => #{endDate},
        p_TimeUnit_ID           => #{timeUnitId},
        p_DivisionGroup_IDs     => #{divisionGroupIds}
        ))
        ]]>
    </select>

    <select id="getReport2" useCache="false" fetchSize="1000"
            parameterType="ru.alfabank.dmpr.model.nom.NomQueryOptions"
            resultType="ru.alfabank.dmpr.model.nom.NomReportData3excel">
        <![CDATA[
     select
      bpmanperiod_prdstart_day  bpmanperiodPrdstartDay,
      bpmanperiod_value_day bpmanperiodValueDay,
      loanapplstatlog_value_day loanapplstatlogValueDay,
      timeunits_name timeunitsName,
      bpinnerproduct_ccode bpinnerproductCcode,
      bpinnerproduct_name bpinnerproductName,
      loanapplrb_deal_ref loanapplrbDealRef,
      salesplace_name salesplaceName,
      address_name addressName,
      address_ccode addressCcode
        FROM TABLE (pkg_nom_api.get_kpi_data3excel_new(
        p_Date_From             => #{startDate},
        p_Date_Till             => #{endDate},
                p_TimeUnit_ID           => #{timeUnitId}
        ))
        ]]>
    </select>



    <select id="getCountKP" useCache="false" fetchSize="1000"
            parameterType="ru.alfabank.dmpr.model.nom.NomQueryOptions"
            resultType="ru.alfabank.dmpr.model.nom.NomCountFinProd">
        <![CDATA[
select
      prdStartDay as prdStartDay,
      valueDate as valueDate,
      directorate as directorate,
      codeFinProd as codeFinProd,
      nameFinProd as nameFinProd,
      codeToFinProd as codeToFinProd,
      nameToFinProd as nameToFinProd,
      shortName as shortName,
      countAgg as countAgg,
      portfolioFlg as portfolioFlg
from table (pkg_nom_api.get_CountKp(
        p_Date_From             => #{startDate},
        p_Date_Till             => #{endDate}
        ))
        ]]>
    </select>
</mapper>