<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.cards.CardsCustomersPercentMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getKpi2DataItems" useCache="false"
            parameterType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentOptions"
            resultType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentItem">
        <![CDATA[
        SELECT
            TimeUnitDD         Calcdate,
            UnitCode,
            UnitName,
            RegionId as macroRegionId,
            RegionID,
            CityID,
            DOCode             BranchId,
            TakenCardCount,
            UntakenCardCount,
            DestructedCardCount,
            LostCardCount,
            StartCardCount,
            FinishCardCount,
            UntakenCardCountDIV,
            UntakenCardKPIRate UntakenCardKPI,
            RCDOCardCount,
            RCDOCardCountDIV,
            RCDOCardKPIRate    RCDOCardKPI
        FROM TABLE (pkg_zp_card_api.get_kpi2_data (
        p_DateFrom             => #{startDate}, -- Дата начала периода
        p_DateTill             => #{endDate}, -- Дата окончания периода
        p_IsReissued           => #{reissueId}, -- 1 - перевыпущенные, 0 - не перевыпущенные, null - все
        p_RegionIDs            => #{regionIds}, -- ИД регионов
        p_CityIDs              => #{cityIds}, -- ИД городов
        p_BranchTypeIDs        => #{branchTypeIds}, -- Типы ДО
        p_DOCodes              => #{branchIds}, -- ИД ДО
        p_ZPTypeIDs            => #{zpSignIds}, -- Типы ЗП
        p_SrvPackCodes         => #{pyTypeIds}, -- Типы ПУ
        p_CardCategoryIDs      => #{cardCategoryIds}, -- Категории карт
        p_DCCodes              => #{debitOrCreditIds}, -- Дебит/Кредит
        p_ClientSegmentIDs     => #{clientSegmentIds}, -- Клиентские сегменты
        p_DimesionID           => #{systemUnitId}, -- Уровень деталзации (1-регион,2-город,3 - ДО)
        p_TimeUnitID           => #{timeUnitId}   -- Уровень деталзации по времени
        ))
        ]]>
    </select>
    <select id="getKpi2UnTakenDetailsDataItems" useCache="false"
            parameterType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentOptions"
            resultType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentDetailsItem">
        <![CDATA[
        SELECT
            AccountOwnerCode,
            CardHolderCode,
            CardNumber CardNo,
            ValidThru,
            ArrivalDate,
            EmitentDOCode BranchId,
            EmitentDOName BranchName,
            DeliverDOCode DeliverBranchId,
            DeliverDOName DeliverBranchName,
            RequestCreator
        FROM TABLE (pkg_zp_card_api.get_kpi2_untaken_detail (
        p_DateFrom             => #{startDate}, -- Дата начала периода
        p_DateTill             => #{endDate}, -- Дата окончания периода
        p_IsReissued           => #{reissueId}, -- 1 - перевыпущенные, 0 - не перевыпущенные, null - все
        p_RegionIDs            => #{regionIds}, -- ИД регионов
        p_CityIDs              => #{cityIds}, -- ИД городов
        p_BranchTypeIDs        => #{branchTypeIds}, -- Типы ДО
        p_DOCodes              => #{branchIds}, -- ИД ДО
        p_ZPTypeIDs            => #{zpSignIds}, -- Типы ЗП
        p_SrvPackCodes         => #{pyTypeIds}, -- Типы ПУ
        p_CardCategoryIDs      => #{cardCategoryIds}, -- Категории карт
        p_DCCodes              => #{debitOrCreditIds}, -- Дебит/Кредит
        p_ClientSegmentIDs     => #{clientSegmentIds} -- Клиентские сегменты
        ))
        ]]>
    </select>
    <select id="getKpi2LostCardsDetailsDataItems" useCache="false"
            parameterType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentOptions"
            resultType="ru.alfabank.dmpr.model.cards.customersPercent.CardsCustomersPercentDetailsItem">
        <![CDATA[
        SELECT
            CARD_NUM CardNo,
            VALID_FROM ValidFrom,
            VALID_THRU ValidThru,
            ACCOUNT_OWNER_CODE AccountOwnerCode,
            CARDHOLDER_CODE CardHolderCode,
            ACTION_WITH_CARD ActionWithCard,
            CARD_TYPE CardType,
            CARD_KIND_NAME CardKindName,
            CARD_CATEGORY_NAME CardCategory,
            DC DebetOrCredit,
            SRVPACK_NAME SRVPack,
            ORDER_DATE OrderDate,
            ORDER_CITY_NAME CityName,
            ORDER_DO_NAME BranchName,
            CARD_READY_DATE CardReadyDate,
            DLVR_CITY_NAME DeliverCityName,
            DLVR_DO_NAME DeliverBranchName,
            CARD_CONTRACT_CODE cardContractCode,
            CARD_CONTRACT_NAME cardContractName
        FROM TABLE (pkg_zp_card_api.get_lost_cards (
        p_DateFrom             => #{startDate}, -- Дата начала периода
        p_DateTill             => #{endDate} -- Дата окончания периода
        ))
        ]]>
    </select>
</mapper>