<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.qualityDss.QualityDssFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToLiveSeconds" value="600"/>
    </cache>

    <select id="getRegions" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_mass_api.get_Region())
    </select>

    <select id="getCities" resultType="ru.alfabank.dmpr.model.ChildEntity">
        select id, name, parent_id as parentId
        from table(pkg_mass_api.get_City()) where 1=1
    </select>

    <select id="getDopOffices" resultType="ru.alfabank.dmpr.model.ChildEntity">
        select id, name, parent_id as parentId
        from table(pkg_mass_api.get_dopoffice())
    </select>

    <select id="getSystemUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_mass_api.get_systemunit())
    </select>

    <select id="getBpTypes" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_mass_api.get_bptype())
    </select>

    <select id="getSalesChannel" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_mass_api.get_salechannel())
    </select>

    <select id="getTimeUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_quality_Dss_api.get_TimeUnit())
    </select>

    <select id="getWeeks" resultType="ru.alfabank.dmpr.model.Week">
        select
        week_id as id,
        week_year as year,
        week_num as weekNum,
        week_start_date as startDate,
        week_end_date as endDate
        from table(pkg_quality_Dss_api.get_weeks)
    </select>

    <select id="getDivision" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_quality_Dss_api.get_Division (
          p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_ReportId => #{reportIds}
          ))
    ]]>
    </select>

    <select id="getEmployee" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_quality_Dss_api.get_Employee (
          p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_ReportId => #{reportIds}
          ))
    ]]>
    </select>

    <select id="getOperation" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_quality_Dss_api.get_Operation(
          p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_ReportId => #{reportIds}
          ))
    ]]>
    </select>

    <select id="getTypeProduct" resultType="ru.alfabank.dmpr.model.BaseEntity">
        <![CDATA[
        select id, name from table(pkg_quality_Dss_api.get_TypeProduct(
          p_DateFrom => #{startDate},
          p_DateTill => #{endDate},
          p_ReportId => #{reportIds}
          ))
    ]]>
    </select>

</mapper>