<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.cards.CardsCommonFilterMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getTimeUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_timeunits)
        order by sort_order
    </select>

    <select id="getMacroRegions" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_macroregions)
        order by sort_order
    </select>

    <select id="getRegions" resultType="ru.alfabank.dmpr.model.ChildEntity">
        select id, name, parent_id as parentId
        from table(pkg_card_api.get_regions)
        order by sort_order
    </select>

    <select id="getCities" resultType="ru.alfabank.dmpr.model.ChildEntity">
        select id, name, parent_id as parentId
        from table(pkg_card_api.get_cities)
        order by sort_order
    </select>

    <select id="getBranchTypes" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select *
        from table(pkg_card_api.get_branch_types)
        order by sort_order
    </select>

    <select id="getBranches" resultType="ru.alfabank.dmpr.model.cards.Branch">
        select
            id as id,
            city_id as cityId,
            branch_type_id as branchTypeId,
            branch_name as branchName
        from table(pkg_card_api.get_branches)
        order by sort_order
    </select>

    <select id="getCardCategories" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_card_categories)
        order by sort_order
    </select>

    <select id="getDebitOrCredits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_card_dc)
        order by sort_order
    </select>

    <select id="getClientSegments" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_client_segments)
        order by sort_order
    </select>

    <select id="getSystemUnits" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_dimensions)
        order by sort_order
    </select>

    <select id="getMvkSigns" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_mvk_types)
        order by sort_order
    </select>

    <select id="getReissueSpeeds" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_reissue_speed)
        order by sort_order
    </select>

    <select id="getPYTypes" resultType="ru.alfabank.dmpr.model.ChildEntity">
        select id, name, parent_id as parentId
        from table(pkg_card_api.get_srvpacks)
        order by sort_order
    </select>

    <select id="getZPSigns" resultType="ru.alfabank.dmpr.model.BaseEntity">
        select id, name
        from table(pkg_card_api.get_zp_types)
        order by sort_order
    </select>
</mapper>