<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.alfabank.dmpr.mapper.cards.CardsDeliveryPeriodMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" />

    <select id="getKpi1DataItems" useCache="false"
            parameterType="ru.alfabank.dmpr.model.cards.deliveryPeriod.CardsDeliveryPeriodOptions"
            resultType="ru.alfabank.dmpr.model.cards.deliveryPeriod.CardsDeliveryPeriodItem">
        <![CDATA[
        SELECT
            TimeUnitDD calcDate,
            UnitCode,
            UnitName,
            DurGRPDays DayGroupId,
            DurGRPDaysName DayGroupName,
            MacroRegionId,
            RegionId,
            CityId,
            SalesPlaceId,
            CardCount,
            InKPICardCount,
            TotalDuration,
            ReissueSpeedID,
            ReissueSpeedDays,
            KPIDurationDays DurationNormative,
            KPIRateTreshold PercentNormative
        FROM TABLE (pkg_card_api.get_kpi1_data (
        p_DateFrom             => #{startDate}, -- Дата начала периода
        p_DateTill             => #{endDate}, -- Дата окончания периода
        p_MacroRegionIDs       => #{macroRegionIds}, -- ИД макро регионов
        p_RegionIDs            => #{regionIds}, -- ИД регионов
        p_CityIDs              => #{cityIds}, -- ИД городов
        p_BranchTypeIDs        => #{branchTypeIds}, -- Типы ДО
        p_SaleplaceIDs         => #{salePlaceIds}, -- ИД ДО
        p_ZPTypeIDs            => #{zpSignIds}, -- Типы ЗП
        p_SrvPackIDs           => #{pyTypeIds}, -- Типы ПУ
        p_CardCategoryIDs      => #{cardCategoryIds}, -- Категории карт
        p_DCIDs                => #{debitOrCreditIds}, -- Дебит/Кредит
        p_ClientSegmentIDs     => #{clientSegmentIds}, -- Клиентские сегменты
        p_DimesionID           => #{systemUnitId}, -- Уровень деталзации (1-регион,2-город,3 - ДО)
        p_TimeUnitID           => #{timeUnitId},   -- Уровень деталзации по времени
        p_IsDurGrp             => #{dayGrouped},    -- Детализировать по длительности (1)
        p_IsAutoProlongation   => #{automaticExtensionMode}, -- Фильтр автопролонгации (1 - только АП, иное - все, кроме ПА). Добавляет детализацию по ReissueSpeedID.
        p_LowDuration          => null, -- Нижняя граница отсечения по длительности
        p_CardInstantCtgIDs    => #{mvkSignId}          --  Признак МВК (1-с,0-без)
        ))
        ]]>
    </select>
    <select id="getKpi1Details" useCache="false" fetchSize="1000"
            parameterType="ru.alfabank.dmpr.model.cards.deliveryPeriod.CardsDeliveryPeriodOptions"
            resultType="ru.alfabank.dmpr.model.cards.deliveryPeriod.CardsDeliveryPeriodDetailsItem">
        <![CDATA[
        SELECT
            AccountOwnerCode,
            CardHolderCode,
            CardNumber CardNo,
            Report_INN ReportINN,
            ValidThru,
            OrderDate CreationDate,
            AcceptDODate AcceptDate,
            OrderToDLVRDuration Duration,
            EmitentDOCode BranchId,
            DeliveryDO BranchName,
            DeliveryCity CityName,
            DeliveryRegion RegionName,
            Abs(ReissueSpeedDays) ReissueSpeedDays,
            CARD_TYPE CardType,
            CARD_KIND_NAME CardKindName,
            CARD_CATEGORY_NAME CardCategory,
            DC DebetOrCredit,
            SRVPACK_NAME SRVPack,
            CARD_CONTRACT_CODE cardContractCode,
            CARD_CONTRACT_NAME cardContractName
        FROM TABLE (pkg_card_api.get_kpi1_data_detail (
        p_DateFrom             => #{startDate}, -- Дата начала периода
        p_DateTill             => #{endDate}, -- Дата окончания периода
        p_MacroRegionIDs       => #{macroRegionIds}, -- ИД макро регионов
        p_RegionIDs            => #{regionIds}, -- ИД регионов
        p_CityIDs              => #{cityIds}, -- ИД городов
        p_BranchTypeIDs        => #{branchTypeIds}, -- Типы ДО
        p_SaleplaceIDs         => #{salePlaceIds}, -- ИД ДО
        p_ZPTypeIDs            => #{zpSignIds}, -- Типы ЗП
        p_SrvPackIDs           => #{pyTypeIds}, -- Типы ПУ
        p_CardCategoryIDs      => #{cardCategoryIds}, -- Категории карт
        p_DCIDs                => #{debitOrCreditIds}, -- Дебит/Кредит
        p_ClientSegmentIDs     => #{clientSegmentIds}, -- Клиентские сегменты
        p_IsAutoProlongation   => #{automaticExtensionMode}, -- Фильтр автопролонгации (1 - только АП, иное - все, кроме ПА).
        p_LowDuration          => #{daysLowerBound},    -- Нижняя граница отсечения по длительности
        p_CardInstantCtgIDs    => #{mvkSignId}          --  Признак МВК
        ))
        ]]>
    </select>
</mapper>